<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <connectionStrings>    
    <add name="ZetaCrawlerEntities" connectionString="metadata=res://*/ZetaCrawler.csdl|res://*/ZetaCrawler.ssdl|res://*/ZetaCrawler.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV002\SQL2005;Initial Catalog=ZetaCrawler;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>